REACT_APP_FIREBASE_API_KEY=AIzaSyCZjJYwYw72LfHiQG365z9DUf5zyOX2z90
REACT_APP_FIREBASE_AUTH_DOMAIN=ku-primary.firebaseapp.com
REACT_APP_FIREBASE_PROJECT_ID=ku-primary
REACT_APP_FIREBASE_STORAGE_BUCKET=ku-primary.firebasestorage.app
REACT_APP_FIREBASE_MESSAGING_SENDER_ID=72742908455
REACT_APP_FIREBASE_APP_ID=1:72742908455:web:eaa341c75f09c585619402
REACT_APP_FIREBASE_MEASUREMENT_ID=G-6S4YJZZ00J

REACT_APP_CLOUDINARY_CLOUD_NAME=jvyn25bt
REACT_APP_CLOUDINARY_UPLOAD_PRESET=KU PRIMARY

MPESA_CONSUMER_KEY=s3WmrjR0IfAcATAYsikap4AyBwCDGzjFuhnVKlbyzSj08Lis
MPESA_SECRET_KEY=5kZXjO2BolDut8rSKquKZcWAQEGUxEpM9ZTijJZD3vAVsPvxTY5oGtKsYAXsxT5y
MPESA_SHORTCODE=174379
MPESA_PASSKEY=bfb279f9aa9bdbcf158e97dd71a467cd2e0c893059b10f78e6b72ada1ed2c919
MPESA_ENVIRONMENT=sandbox


smtp password=uolucwcztilbuiey
GMAIL_USER=info.kuprimary@gmail.com
GMAIL_APP_PASSWORD=uolucwcztilbuiey          
TEACHER_WELCOME_FROM=KU PRI & JUNIOR SCHOOL <info.kuprimary@gmail.com>  
TEACHER_WELCOME_REPLY_TO=kenyattaprimary24@gmail.com

  SMS_MODEM_PORT   e.g. /dev/ttyUSB0 (Linux) or COM3 (Windows)
  SMS_MODEM_BAUD   e.g. 9600
  SMS_MODEM_PIN
