node_modules/
build/
android/.gradle/
android/local.properties
android/**/build/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.plugins.json
android/capacitor-cordova-android-plugins/
*.jks
*.keystore
